.color0 {
    width:40px;
    height:40px;
    background: grey;
  }
.color1{
    width:40px;
    height:40px;
    background: rgb(99, 71, 11);
  }
.red{
    width:40px;
    height:40px;
    background: red;
    border-radius: 50%;
}
.black{
    width:40px;
    height:40px;
    background: black;
    border-radius: 50%;

}
.queen{
    border-style: double;
    border-width: 10px;
}
.selected{
    box-shadow: inset -4px 0 0 yellow, inset 0 -4px 0 yellow, inset 4px 0 0 yellow, inset 0 4px 0 yellow;
}
.valid{
    width:40px;
    height:40px;
    background: green;
    border-radius: 50%;
}
